mixin FormTypes
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/form-control.html`)
      h5.mb-0.link-primary Form control
      span.text-secondary Style textual inputs and textareas with support for multiple states.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/select.html`)
      h5.mb-0.link-primary  Select
      span.text-secondary Improve browser default select elements with a custom initial appearance.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/checks.html`)
      h5.mb-0.link-primary Checks
      span.text-secondary
        | Use our custom radio buttons and checkboxes in forms for selecting 
        br.d-none.d-xxl-block 
        | input options.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/file.html`)
      h5.mb-0.link-primary File
      span.text-secondary
        | Replace browser default file inputs with our custom version with 
        br.d-none.d-xxl-block 
        | optional JavaScript.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/range.html`)
      h5.mb-0.link-primary Range
      span.text-secondary Replace browser default range inputs with our custom version.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/input-group.html`)
      h5.mb-0.link-primary Input group
      span.text-secondary Attach labels and buttons to your inputs for increased semantic value.
    .border-dashed-bottom.my-3
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/layout.html`)
      h5.mb-0.link-primary Layout
      span.text-secondary Create inline, horizontal, or complex grid-based layouts with your forms.
    .border-dashed-bottom.my-3.d-lg-none
  .col-md-6
    a.d-block.text-decoration-none(href=`${CWD}forms/validation.html`)
      h5.mb-0.link-primary Validation
      span.text-secondary Validate your forms with custom or native validation behaviors and styles.

mixin FormOverview
  p Bootstrap’s form controls expand on 
    a(href=`https://v5.getbootstrap.com/docs/${bootstrapVersion}/content/reboot/#forms`) their Rebooted form styles
    |  with classes. Use these classes to opt into their customized displays for a more consistent rendering across browsers and devices.
  p Be sure to use an appropriate 
    code type
    | attribute on all inputs (e.g., 
    code email
    |  for email address or 
    code number
    |  for numerical information) to take advantage of newer input controls like email verification, number selection, and more.
  p Here’s a quick example to demonstrate Bootstrap’s form styles. Keep reading for documentation on required classes, form layout, and more.

mixin FormBasic
  form
    .mb-3
      label.form-label(for='exampleInputEmail1') Email address
      input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
      #emailHelp.form-text We'll never share your email with anyone else.
    .mb-3
      label.form-label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password')
    .mb-3.form-check
      input#exampleCheck1.form-check-input(type='checkbox')
      label.form-check-label(for='exampleCheck1') Check me out
    button.btn.btn-primary(type='submit') Submit