mixin BillingPageHeader
  +PageHeader({title:'Get started with your free trial'})
    p.mt-2 Premium team - 5 Seats. Free for 30 days, cancel at any time. 
      br
      | $6.25 / seat month after a trial
    .dropdown
      button#change-plan.btn.btn-link.dropdown-toggle.pl-0.btn-sm(type="button" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Change plan
      .dropdown-menu.py-3(aria-labelledby='change-plan' style="min-width: 15rem;")
        .dropdown-item.px-3.py-2
          span.d-flex.justify-content-between.fs--1.text-black
            span.font-weight-semi-bold Standard License
            span $59.00
          ul.list-unstyled.pl-1.my-2.fs--1
            li 
              span.fas.fa-circle(data-fa-transform="shrink-11")
              span.ml-1 Use for a single product
            li
              span.fas.fa-circle(data-fa-transform="shrink-11")
              span.ml-1 Non-paying users only
          p.fs--2.mb-0 Read the full 
            a(href="#!") Standard License  
        .dropdown-divider.my-0
        .dropdown-item.px-3.py-2
          span.d-flex.justify-content-between.fs--1.text-black
            span.font-weight-semi-bold Extended License
            span $99.00
          ul.list-unstyled.pl-1.my-2.fs--1
            li 
              span.fas.fa-circle(data-fa-transform="shrink-11")
              span.ml-1 Unlimited websites
            li 
              span.fas.fa-circle(data-fa-transform="shrink-11")
              span.ml-1 Paying users allowed
          p.fs--2.mb-0 Read the full   
            a(href="#!") Extended License

mixin BillingDetails
  .card.h-100
    .card-header
      h5.mb-0 Billing Details
    .card-body.bg-light
      +Radio({id: 'paypal', parentAttrs: { class: 'mb-0'}, labelAttrs: { class: 'mb-0 d-block'}})(name="billing")
        img(src=`${CWD}assets/img/icons/icon-paypal-full.png` height=20 alt='')
      p.fs--1.mb-4 Pay with PayPal, Apple Pay, PayPal Credit and much more

      +Radio({id: 'credit-card', parentAttrs: { class: 'mb-0'}, labelAttrs: { class: 'd-flex align-items-center mb-0'}})(checked="checked" name="billing")
        span.fs-1.text-nowrap Credit Card
        img.d-none.d-sm-inline-block.ml-2.mt-lg-0(src=`${CWD}assets/img/icons/icon-payment-methods.png` height=20 alt='')
      p.fs--1.mb-4 Safe money transfer using your bank accounts. Visa, maestro, discover, american express.

      .row.gx-3.mb-3
        .col
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='cardNumber') Card Number
          input#cardNumber.form-control(placeholder='XXXX XXXX XXXX XXXX' type='text')
        .col
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='cardName') Name of Card
          input#cardName.form-control(placeholder='John Doe' type='text')
      .row.gx-3
        .col-6.col-sm-3
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='inputCountry') Country
          select#inputCountry.form-select.mb-3(aria-label='customSelectCountry')
            each country, index in countries
              if index === 224
                option(selected)=country
              else
                option=country
        .col-6.col-sm-3
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='zipCode') Zip Code
          input#zipCode.form-control(placeholder='1234' type='text')
        .col-6.col-sm-3
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='expDate') Exp Date
          input#expDate.form-control(placeholder='15/2024' type='text')
        .col-6.col-sm-3
          label.form-label.ls.text-uppercase.text-600.font-weight-semi-bold.mb-0.fs--1(for='cvv') CVV
            span( data-toggle="tooltip" data-placement="top" title="Card verification value").ml-1
              span.fa.fa-question-circle
          input#cvv.form-control(placeholder='123' maxlength='3' pattern='[0-9]{3}' type='text')

mixin BillingStartButton
  .card&attributes(attributes)
    .card-header
      h5.mb-0 Billing
    .card-body.bg-light
      select.form-select.mb-3(aria-label='Default select example')
        option(selected='') Monthly Plan
        option(value='1') Annual Plan

      .d-flex.justify-content-between.fs--1.mb-1
        p.mb-0 Due in 30 days
        span $375.00
      .d-flex.justify-content-between.fs--1.mb-1.text-success
        p.mb-0 Annual saving
        span $75.00/yr
      hr
      h5.d-flex.justify-content-between
        span Due today
        span $0.00
      p.fs--1.text-600 Once you start your trial, you will have 30 days to use #{name} Premium for free. After 30 days you’ll be charged based on your selected plan.

      button.btn.btn-primary.btn-block(type="submit")
        span.fa.fa-lock.mr-2
        | Start free trial

      .text-center.mt-2
        small.d-inline-block
          | By continuing, you are agreeing to our subscriber 
          a(href='/pages/billing#!') terms
          |  and will be charged at the end of the trial.     

mixin BillingFaq(config)
  - var config = Object.assign({footerPadding: false}, config)
  .card
    .card-header
      h5.mb-0 Frequently asked questions
    .card-body.bg-light
      .row
        .col-lg-6
          h5.fs-0 How does #{name}'s pricing work?
          p.fs--1 The free version of #{name} is available for teams of up to 15 people. Our #{name} Premium plans of 15 or fewer qualify for a small team discount. As your team grows to 20 users or more and gets more value out of #{name}, you'll get closer to our standard monthly price per seat. The price of a paid #{name} plan is tiered, starting in groups of 5 and 10 users, based on the number of people you have in your Team or Organization.


          h5.fs-0 What forms of payment do you accept?
          p.fs--1 You can purchase #{name} with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.

          h5.fs-0 We need to add more people to our team. How will that be billed?
          p.fs--1 You can add as many new teammates as you need before changing your subscription. We will subsequently ask you to correct your subscription to cover current usage.

          h5.fs-0 How secure is #{name}?
          p.fs--1.mb-lg-0 Protecting the data you trust to #{name} is our first priority. #{name} uses physical, procedural, and technical safeguards to preserve the integrity and security of your information. We regularly back up your data to prevent data loss and aid in recovery. Additionally, we host data in secure SSAE 16 / SOC1 certified data centers, implement firewalls and access restrictions on our servers to better protect your information, and work with third-party security researchers to ensure our practices are secure.
        .col-lg-6
          h5.fs-0 Will I be charged sales tax?
          p.fs--1 As of May 2016, state and local sales tax will be applied to fees charged to customers with a billing address in the State of New York.

          h5.fs-0 Do you offer discounts?
          p.fs--1 We've built in discounts at each tier for teams smaller than 15 members. We also offer two months for free in exchange for an annual subscription.

          h5.fs-0 Do you offer academic pricing?
          p.fs--1 We're happy to work with student groups using #{name}. Contact Us
          h5.fs-0 Is there an on-premise version of #{name}?
          p.fs--1 We are passionate about the web. We don't plan to offer an internally hosted version of #{name}. We hope you trust us to provide a robust and secure service so you can do the work only your team can do.
          h5.fs-0 What is your refund policy?
          p.fs--1.mb-0 We do not offer refunds apart from exceptions listed below. If you cancel your plan before the next renewal cycle, you will retain access to paid features until the end of your subscription period. When your subscription expires, you will lose access to paid features and all data associated with those features. Exceptions to our refund policy: canceling within 48 hours of initial charge will result in a full refund. If you cancel within this timeframe, you will lose access to paid features and associated data immediately upon canceling.

    .card-footer.py-3 
      .text-center(class=config.footerPadding)
        h6.fs-0.font-weight-normal Have more questions?
        a(href="#" data-toggle='modal' data-target='#exampleModal').btn.btn-falcon-primary.btn-sm Ask us anything

      #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.border-0
            .modal-header.bg-card-gradient
              h5#exampleModalLabel.modal-title.text-white Ask your question
              button.btn-close.btn-close-white.text-white(type='button' data-dismiss='modal' aria-label='Close')
            .modal-body
              form
                .mb-3
                  label(for="name") Name
                  input.form-control#name(type="text")
                .mb-3 
                  label(for="emailModal") Email
                  input.form-control#emailModal(type="email")
                .mb-3   
                  label(for="question") Question
                  textarea.form-control#question(rows="4")
              button.btn.btn-primary.btn-sm.px-4(type='submit')
                span.fas.fa-paper-plane.mr-2(aria-hidden='true') 
                | Send
