mixin LogOutContent(config)
  - var config = Object.assign({layout: 'basic', titleTag: 'h4'}, config)
  div&attributes(attributes)
    img(src=`${CWD}assets/img/illustrations/rocket.png` alt='shield' width=70).d-block.mx-auto.mb-4
    
    #{config.titleTag} See you again!

    p Thanks for using #{name}. You are 
      br
      | now successfully signed out.
    a(href=`${CWD}authentication/${config.layout}/login.html`).btn.btn-primary.btn-sm.mt-3
      span.fas.fa-chevron-left(data-fa-transform="shrink-4 down-1").mr-1
      | Return to Login