mixin RegisterForm(config)
  - var config = Object.assign({layout: 'basic', name: {}, email: {}, password: {}, confirmPassword: {}, checkbox: { id: 'basic-checkbox' } }, config)

  form
    .mb-3
      if config.name.label
        label.form-label(for=config.name.attrs.id)=config.name.label
      input.form-control(type='text')&attributes(config.name.attrs)
    .mb-3
      if config.email.label
        label.form-label(for=config.email.attrs.id)=config.email.label
      input.form-control(type='email')&attributes(config.email.attrs)
    .row.gx-3
      .mb-3.col-sm-6
        if config.password.label
          label.form-label(for=config.password.attrs.id)=config.password.label
        input.form-control(type='password')&attributes(config.password.attrs)
      .mb-3.col-sm-6
        if config.confirmPassword.label
          label.form-label(for=config.confirmPassword.attrs.id)=config.confirmPassword.label
        input.form-control(type='password')&attributes(config.confirmPassword.attrs)
      
    .form-check
      input.form-check-input(type='checkbox')&attributes(config.checkbox.attrs)
      label.form-label(for=config.checkbox.attrs.id)
        | I accept the 
        a(href='#!') terms 
        | and 
        a(href='#!') privacy policy
    .mb-3
      button.btn.btn-primary.btn-block.mt-3(type='submit', name='submit') Register