append variables
  -
    var associations = [
      {
        img: {src: 'logos/apple.png'},
        title: 'Apple',
        subtitle: '3243 associates',
        hr: false
      },
      {
        img: {src: 'logos/g.png'},
        title: 'Google',
        subtitle: '34598 associates',
        hr: false
      },
      {
        img: {src: 'logos/intel.png'},
        title: 'Intel',
        subtitle: '7652 associates',
        hr: false
      },
      {
        img: {src: 'logos/nike.png'},
        title: 'Nike',
        subtitle: '765 associates',
        hr: false
      },
      {
        img: {src: 'logos/samsung.png'},
        title: 'Samsung',
        subtitle: '54 associates',
        hr: false
      },
      {
        img: {src: 'logos/cocacola.png'},
        title: 'Cocacola',
        subtitle: '487 associates',
        hr: false
      },
      {
        img: {src: 'logos/nvidia.png'},
        title: 'Nvidia',
        subtitle: '98732 associates',
        hr: false
      },
      {
        img: {src: 'logos/hp.png'},
        title: 'Hewlett Packard',
        subtitle: '2345 associates',
        hr: false
      },
      {
        img: {src: 'logos/adidas.png'},
        title: 'Adidas',
        subtitle: '1737 associates',
        hr: false
      },
    ];

mixin Association(association)
  .d-flex.position-relative.align-items-center.mb-2
    img.d-flex.align-self-center.mr-2(src=`${CWD}assets/img/${association.img.src}`, alt='' width="50")
    .flex-1
      h6.fs-0.mb-0
        a(href="#!").stretched-link=association.title
      p.mb-1=association.subtitle

mixin Associations(config)
  - var config = Object.assign({more: false, start: 0}, config)
  .card&attributes(attributes)
    .card-header.bg-light(class=`${config.more ? 'd-flex justify-content-between' : ''}`)
      h5.mb-0 Associations
      if(config.more)
        a.font-sans-serif(href=`${CWD}pages/associations.html`) All Associations

    .card-body.fs--1.pb-0
      .row
        each association in associations.slice(config.start, config.end)
          .col-sm-6(class=`${!config.more ? 'col-md-4' : ''}`).mb-3
            +Association(association)
